doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        meta(content="index, nofollow" name="”robots”")
        meta(content="width=device-width, initial-scale=1" name="viewport")
        meta(content="ie=edge" http-equiv="x-ua-compatible")
        block head
            title Centurion
            meta(content="Centurion website" name="description")

    body
        .sitemainwrapper
            block header
            block content
            block footer
        block scripts
            link(rel="stylesheet" href="css/style.min.css")
            script(defer, src='js/main.min.js')
