header.header
  .headersite
    .wrapper
      .headgrid
        .headcol.headlogo
          a(href='index.html')
            img(src='img/logo.svg' alt='centurion logo')
        .headcol.headmenu
          .mobilemenu-toggle
          ul.topmenu
            li
              a(href='#abouthome') About Centurion
            li
              a(href='#ourbusineshome') Our Businesses
.headerinvisible
.windowcover
