@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap');

body{
	font-family: Montserrat;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 1.3;
	letter-spacing: 0px;
	color:#000;
	margin:0;
}
.wrapper{
	position:relative;
	max-width:1140px;
	margin:auto;
	padding:0 15px;
	box-sizing:border-box;
}
h2{
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	font-size: 33px;
	line-height: 40px;
	color: #000000;
	margin-top:0;
}
h3{
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	line-height: 34px;
	color: #000000;
	margin-top:0;
}
/*********Main classes********/
.mobilemenu-toggle{
	display:none;
	position: absolute;
    left: 0;
	cursor:pointer;
	z-index:2;
	width:25px;
	height:17px;
	background-image:url(../images/menu.svg);
	background-repeat:no-repeat;
}
.mobilemenu-toggle.active{
	background-image:url(../images/close.svg);
}
.padding100{
	padding:100px 0;
}
/*********HEADER************/
.headersite{
	background-color:#000000;
	padding: 8px 0 8px 0;
	position: relative;
    z-index: 15;
}
.headgrid{
	display:grid;
	grid-template-columns:1fr 1fr;
	align-items: center;
}
.headlogo img{
	position: relative;
	top: 3px;
	width: 300px;
}
.topmenu{
	padding:0;
	margin:0;
	list-style:none;
	text-align:right;
}
.topmenu li{
	display:inline-block;
}
.topmenu li a{
	display:block;
	font-size: 15px;
	color:#fff;
	padding:0 35px;
	font-style: normal;
	font-weight: 600;
	line-height: 20px;
	text-align: left;
	text-transform:uppercase;
	text-decoration:none;
}
.topmenu li:last-child a{
	padding-right:0;
}
.topmenu li:first-child a{
	padding-left:0;
}
.windowcover{
	display:none;
	position:fixed;
	left:0;
	top:0;
	width:100%;
	height:100%;
	z-index:1;
	background: rgba(255, 255, 255, 0.75);
	z-index:10;
}
/************FOOTER***********/
.footerrsite{
	padding:60px 0 40px 0;
	background: #EAEBED;
}
.foottext {
	padding-top:47px;
}
.foottext{
	white-space: pre-line;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	line-height: 18px;
	color: #000000;
}
.foottitles{
	margin-top: 47px;
}
.foottitle{
	display: inline-block;
	margin-right: 40px;
	margin-bottom: 30px;
	font-size: 22px;
	font-style: normal;
	font-weight: 500;
	line-height: 27px;
	color: #18338B;
	text-decoration: none;
}
.sitecopy{
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 15px;
	color: #000000;
	opacity: 0.5;
	margin-top:10px;
}
/**************HOME**************/
.homesliderboxes{
	position:relative;
}
.itemslide {
	transform: skew(15deg);
}
.slideproto{
    position: relative;
    min-height: 700px;
    overflow: hidden;
}
.itemslide:last-child .slideproto{
	width:600px;
}
.itemslide:last-child .slideproto .textslidebox{
	text-align:left;
	box-sizing:border-box;
	padding-left: 12%;
}
.itemslide:first-child .slideproto{
	width: 800px;
    left: -31%;
}
.itemslide:first-child .slideproto .imagerectbox{
	width: 928px
}
.itemslide:first-child .slideproto .logofirstbox{
	box-sizing:border-box;
	padding-left:17%;
}
.slideproto:after{
	position:absolute;
	content:'';
	left:0px;
	top: 0px;
    width: 15px;
    height: 100%;
	mix-blend-mode: normal;
	box-shadow: 0px 12px 20px rgba(0, 0, 0, 0.5);
	background: radial-gradient(52.31% 50% at 52.31% 50%, #ffffff 0%, rgb(188 197 255 / 53%) 100%)
}
.slidermainproto .itemslide:first-child .slideproto:after{
	display:none;
}
.imagerectbox{
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    transform: skew(-15deg);
    position: absolute;
    height: 100%;
    left: -100px;
    width: 600px;
}
.imagerectbox:after{
	position:absolute;
	content:'';
	left:0;
	top:0;
	width:100%;
	height:100%;
	background: radial-gradient(111.11% 107.5% at 46.8% 102.95%, #0088EE 0%, rgba(124, 142, 255, 0) 100%);
	transform: matrix(-1, 0, 0, 1, 0, 0);
}
.slidermainproto .itemslide:nth-child(2) .imagerectbox:after{
	background: radial-gradient(53.13% 50% at 53.13% 50%, #FFFFFF 0%, rgba(188, 197, 255, 0.4) 100%);
}
.slidermainproto .itemslide:nth-child(3) .imagerectbox:after{
	background: linear-gradient(160.21deg, rgba(226, 246, 255, 0.42) 5.46%, rgba(140, 179, 196, 0) 94.03%), linear-gradient(152.89deg, rgba(255, 233, 214, 0.6) -8.08%, rgba(255, 245, 235, 0.4) 93.66%);
}
.slidermainproto .itemslide:nth-child(4) .imagerectbox:after{
	background: radial-gradient(111.11% 107.5% at 46.8% 102.95%, #0088EE 0%, rgba(124, 142, 255, 0) 100%);
}
.slidermainproto .itemslide:nth-child(5) .imagerectbox:after{
	background: linear-gradient(194.89deg, #418BC0 2.13%, rgba(61, 119, 162, 0) 98.38%), radial-gradient(149.97% 107.5% at 28.19% 102.95%, #64CCC0 0%, rgba(0, 32, 234, 0) 61.46%);
}
.slidermainproto .itemslide:last-child .slidename{
	padding-left:7%;
}
.textslidebox{
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    bottom: 120px;
    text-align: center;
	 transform: skew(-15deg);
}
.textslidebox .busbtn{
	padding: 0 35px;
    height: 52px;
    font-size: 14px;
    line-height: 52px;
    width: auto;
}
.textslidebox .slidename{
	font-weight: bold;
	font-size: 19px;
	line-height: 23px;
	text-transform: uppercase;
	color: #FFFFFF;
	text-shadow: 0px 0px 10px #2E395A;
	margin-bottom:20px;
}
.logofirstbox{
	font-weight: 500;
	font-size: 22px;
	line-height: 27px;
	color: #FFFFFF;
	text-align:left;
	padding-left:50px;
}
.slidermainproto .slick-dots{
	position:absolute;
	left:0;
	bottom:15px;
	width:100%;
	text-align:center;
	padding:0;
	list-style:none;
	margin:0;
}
.slidermainproto .slick-dots li{
	display:inline-block;
	margin:0 2px;
}
.slidermainproto .slick-dots li button{
	display:inline-block;
	padding:0;
	font-size:1px;
	color:transparent;
	border:none;
	outline:none;
	cursor:pointer;
	background: #FFFFFF;
	opacity: 0.4;
	width:6px;
	height:6px;
	border-radius:50%;
	transition:all .3s;
}
.slidermainproto .slick-dots li.slick-active button{
	width:25px;
	background: #FFFFFF;
	border-radius: 12px;
	opacity:1;
	transition:all .3s;
}
.abouttextgrid{
	max-width: 698px;
}
.padding80{
	padding:80px 0;
}
.aboutmaintext{
	background: rgba(208, 226, 254, 1);
	background-image:url(../images/1.png);
	background-repeat:no-repeat;
	background-position:center right;
}
.titlesection{
	margin:0 0 60px 0;
}
.abouttextgrid{
	font-size:20px;
	line-height:1.4;
}
.businesgrid{
	display:grid;
	grid-template-columns:1fr 1fr 1fr;
	grid-gap:30px 100px;
}
.ourbusinesmain{
	color:rgba(24, 51, 139, 1);
	font-size:20px;
}
.ourbusinesmain .titlesection{
	margin-bottom:30px;
	color:rgba(24, 51, 139, 1);
}
.businesgrid{
	margin-top:60px;
}
.busineitem{
	display: flex;
	flex-direction: column;
}
.busineitemimg{
	margin-bottom:35px;
}
.busineitemimg img{
	display:block;
	border-radius: 30px;
	width: 186px;
	height: 186px;
	overflow:hidden;
	box-sizing:border-box;
	object-fit: cover;
}
.specmaincover{
	display: inline-block;
    background: #18338b1f;
    padding: 5px;
    box-shadow: 0px 55px 60px rgba(24, 51, 139, 0.2);
    border-radius: 40px;
	transform:translateY(0);
	transition:all .3s;
}
.busineitemimg:hover .specmaincover{
	box-shadow: 0px -48px 60px rgba(24, 51, 139, 0.2);
	transform:translateY(-30px);
	transition:all .3s;
}
.speccover{
	padding:15px;
	background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
	filter: drop-shadow(0px 55px 60px rgba(24, 51, 139, 0.12));
	border-radius: 40px;
}
.busineitemname{
	font-weight: 500;
	font-size: 28px;
	line-height: 34px;
	color: #18338B;
	margin-bottom:30px;
}
.busineitemtext{
	font-size: 16px;
	line-height: 20px;
	color: #18338B;
}
.busineitemtext.withbutton{
	margin-bottom: 50px;
}
.busbtwrapp{
	margin-top: auto;
}
/************Buston************/
.busbtn{
	position:relative;
	display:inline-block;
	height:62px;
	width:260px;
	background-color:rgba(24, 51, 139, 1);
	font-weight: bold;
	font-size: 14px;
	line-height: 62px;
	text-align: center;
	text-transform: uppercase;
	text-decoration:none;
	color: #FFFFFF;
	background-image:url(../images/btnicons.svg);
	background-position:center right 20px;
	background-repeat:no-repeat;
	overflow:hidden;
}
.busbtn--hide {
	opacity: 0;
	cursor: default;
	user-select: none;
}
.busbtn.busbtn-wight{
	background-color:#fff;
	background-image:url(../images/btnicons-w.svg);	
	color:#18338B;
}
.busbtn:after{
	position:absolute;
	content:'';
	left:97%;
	top:0;
	width:100%;
	height:100%;
	background: rgba(255, 255, 255, 0.5);
	transition:all .3s;
}
.busbtn.busbtn-wight:after{
	background-color:#18338B;
	opacity:.5;
}
.busbtn:hover:after{
	left:0;
	top:0;
	transition:all .3s;
}

/**********Crowdfunding page**************/
.pagehead{
	position:relative;
	background-repeat:no-repeat;
	background-position:center center;
	background-size:cover;
}
.textheadwrapper{
	position:relative;
}
.textheadwrapper:after{
	content:'';
	position:absolute;
	left:-50px;
	top:-100px;
	width:380px;
	height:380px;
	background-image:url(../images/patternhead.png);
	background-repeat:no-repeat;
}
.pageheadtext{
	position:relative;
	display:flex;
	min-height:700px;
	align-items:center;
	width:100%;
	z-index:1;
}
.pageheadtext h1{
	font-weight: 500;
	font-size: 72px;
	line-height: 88px;
	color: #FFFFFF;
	margin:0;
}
.imagwpater{
	background-image:url(../images/patternhead2.png);
    background-repeat: no-repeat;
    background-position: center 0;
    padding-top: 20px;
}
.gridsection1{
	display:grid;
	grid-template-columns:1.5fr 2fr;
	grid-gap:50px 100px;
}
.gridcoltext{
	font-size: 20px;
	line-height: 24px;
	color: #000000;
}
.cftextsection2{
	background-position:center right;
	background-repeat:no-repeat;
	background-color:#2C469A;
	color:#fff;
}
.cftextsection2 .gridcoltext,
.cftextsection2 .gridcoltext h2{

	color:#fff;
}
.cftextsection2 .gridcoltext h2{
	font-size: 50px;
	line-height: 61px;
}
.imgmobile{
	display:none;
}
.cftextsection3{
	background: #D0E2FE;
}
.gridcardlist1{
	display:grid;
	grid-template-columns:1fr 1fr 1fr;
	grid-gap:50px 100px;
	margin-top:80px;
}
.cftextsection3text{
	font-size: 20px;
	line-height: 24px;
}
.gridcardlist1 .carditemimg{
	margin-bottom:55px;
}
.gridcardlist1 .carditemimgcover{
	display:flex;
	width: 185px;
	height: 185px;
	justify-content: center;
	align-items:center;
	background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), #D0E2FE;
	box-shadow: 0px 55px 60px rgba(24, 51, 139, 0.12);
	transform:translateY(0);
	border-radius: 44px;
	transition:all .3s;
}
.gridcardlist1 .carditem:hover .carditemimgcover{
	box-shadow: 0px -30px 60px rgba(24, 51, 139, 0.12);
	transform:translateY(-30px);
	transition:all .3s;
}
.gridcardlist1 .carditemname{
	font-weight: 500;
	font-size: 24px;
	line-height: 29px;
	color: #000000;
	margin-bottom:15px;
}
.gridcardlist1 .carditemtext{
	font-size: 20px;
	line-height: 24px;
	color: #000000;
}
.cftextsection4 .busineitem{
	text-align:center;
}
.cftextsection4 .businesgrid{
	grid-gap: 30px 80px;
	margin-top:100px;
}
.cftextsection4 .busineitemimg{
	margin-bottom:70px;
}
.cftextsection5{
	background: #D0E2FE;
}
.cftextsection5 a {
	text-decoration: none;
}
.cftextsection5 .cftextsection5text{
	text-align:center;
	font-size: 20px;
	line-height: 24px;
	text-align: center;
	color: #19338B;
}
.cftextsection5text .titlesection{
	margin-bottom:40px;
	font-weight: 500;
	font-size: 50px;
	line-height: 61px;
	text-align: center;
	color: #19338B;
}
.exploreprojectsgrid{
	display:grid;
	grid-template-columns:1fr 1fr 1fr;
	grid-gap:50px 40px;
	margin-top:80px;
}
.exploreprojectsgrid .projectcol{
	background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0.5) 100%), #D0E2FE;
	box-shadow: 0px 55px 60px rgba(24, 51, 139, 0.12);
	border-radius: 40px;
	min-height: 340px;
	padding: 60px 30px 60px 40px;
	box-sizing:border-box;
}
.exploreprojectsgrid .projectcolname{
	font-weight: 500;
	font-size: 40px;
	line-height: 49px;
	color: #18338B;
	margin-bottom:30px;
}
.exploreprojectsgrid .projectcol ul{
	margin:0;
	padding:0;
	list-style:none;
}
.exploreprojectsgrid .projectcol ul a {
	text-decoration: none;
}
.exploreprojectsgrid .projectcol ul li{
	padding:7px 0 7px 20px;
	background-image:url(../images/arrow-right.svg);
	background-repeat:no-repeat;
	background-position:left center;
	font-weight: normal;
	font-size: 16px;
	color: #18338B;
}
.cftextsection5 .cftextsection5text p{
	margin:0;
}
/**************Advisory***********/
.advsection1{
	background:#E2EDFE;
	background-position:center right;
	background-repeat:no-repeat;
}
.advsection2{
	background-color:#1B3387;
	color:#fff;
}
.advsection2 .titlesection{
	color:#fff;
}
.ouradvantagesgrid{
	display:grid;
	grid-template-columns:1fr 1fr 1fr 1fr;
	grid-gap:100px 50px;
}
.ouradvantagesgrid .advantagecol{
	display:flex;
	align-items:center;
}
.ouradvantagesgrid .iconitem{
	display:flex;
	align-items:center;
	justify-content:center;
	width:90px;
	height:90px;
	background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
	filter: drop-shadow(0px 55px 60px rgba(24, 51, 139, 0.12));
	border-radius:50%;
}
.ouradvantagesgrid .iconitem .iconitemcover{
	display:flex;
	align-items:center;
	justify-content:center;
	width:66px;
	height:66px;
	background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
	border-radius:50%;
}
.ouradvantagesgrid .nameitem{
	margin-left:10px;
	font-weight: normal;
	font-size: 16px;
	line-height: 22px;
	color: #FFFFFF;
}
.temgrid{
	display:grid;
	grid-template-columns:1fr 1fr 1fr;
	grid-gap:70px 90px;
}
.teamcal .teamphoto{
	background: #EAEBED;
}
.teamphoto img{
	max-width:100%;
	display:block;
}
.teamcal .temcaltext{
	margin-top:20px;
}
.temcaltext .membername {
	font-weight: 500;
	font-size: 17px;
	line-height: 21px;
	color: #18338B;
	margin-bottom:7px;
}
.temcaltext .memberpos {
	font-weight: normal;
	font-size: 17px;
	line-height: 21px;
	color: #000000;
}
.advsection4{
	background: #D0E2FE;
}
.advsection4 .titlesection{
	color:rgba(24, 51, 139, 1);
}
.btnsectiontext{
	text-align:center;
	margin-top:90px;
	font-size:18px;
}
.btnsectiontext a{

	margin-top:16px;
}
.porjetcgridtwo{
	display:grid;
	grid-template-columns:1fr 1fr;
	grid-gap:35px 35px;
}
.porjetcgridtwo .projctcol{
	background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0.5) 100%), #D0E2FE;
	box-shadow: 0px 55px 60px rgba(24, 51, 139, 0.12);
	border-radius: 40px;
	min-height:480px;
	padding:60px 40px;
	box-sizing:border-box;
}
.porjetcgridtwo  .prname{
	font-weight: 500;
	font-size: 30px;
	line-height: 37px;
	color: #18338B;
	margin-top:30px;
	margin-bottom:30px;
}
.porjetcgridtwo  .prtext{
	font-weight: normal;
	font-size: 18px;
	line-height: 22px;
	color: #000000;
}
/*************The Network**************/
.singlogin{
	background-image:url(../images/mbrimg.png);
	background-repeat:no-repeat;
	background-position:center center;
	background-size:cover;
	padding:105px 0;
}
.membergrid{
	display:grid;
	grid-template-columns:1fr 1fr;
	grid-gap:0 100px;
}
.membergrid .membergridcol{
	position:relative;
}
.membergrid .membergridcol:first-child{
	padding-right:115px;
	text-align:right;
}
.membergrid .membergridcol.membergridcolinner{
	display:inline-block;
	text-align:left;
}
.membergrid .membergridcol:last-child{
	text-align:left;
}
.membergrid .membergridcol:first-child:after{
	position: absolute;
    content: '';
    width: 2px;
    height: 250px;
    right: 0;
    margin-top: -125px;
    top: 50%;
    background-image: url(../images/mbrborder.png);
    background-repeat: no-repeat;
    background-position: right center;
}
.membercolname{
	font-weight: 500;
	font-size: 30px;
	line-height: 37px;
	color: #FFFFFF;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	margin-bottom:30px;
}
.membergrid .membergridcol .busbtn {
	margin-left:15px;
}
.the_networktext1{
	padding:130px 0;
	background-image:url(../images/network1.png);
	background-repeat:no-repeat;
	background-position:right center;
	background-color:rgba(26, 70, 142, 1);
	background-size:cover;
	color:#fff;
}
.the_networktext1 .gridcoltext{
	color:#fff;
}
.the_networktext1 .gridcoltext h2{
	font-weight: 500;
	font-size: 50px;
	line-height: 61px;
	color:#fff;
}
.the_networktext2{
	padding:130px 0;
	background-image:url(../images/network2.png);
	background-repeat:no-repeat;
	background-position:right center;
	background-size:cover;
	background-color:rgba(226, 237, 254, 1);
}
.the_networktext2 .abouttextgrid{
	max-width: 460px;
}
.advantagescenturion{
	padding:115px 0;
}
.advantagescenturion .ourbusinesmaintext .titlesection{
	font-weight: 500;
	font-size: 33px;
	line-height: 40px;
	color:rgba(24, 51, 139, 1);
}
.networkinvest{
	padding:100px 0;
	background-color:#D0E2FE;;
}
.networkinvest h2{
	color: #18338B;
}
.networkinvest .exploreprojectsgrid{
	margin-top:50px;
}
.networkinvest .projectcolname{
	font-size: 30px;
	line-height: 37px;
	color: #18338B;
}
/**************Legal***********/
.legalsite{
	margin-bottom: 90px;
}
.legalsection{
	margin-top: 70px;
}
.legaltitle{
	font-weight: bold;
	font-size: 33px;
	line-height: 40px;
	color: #18338B;
}
.legaltext{
	white-space: pre-line;
	margin-top: 30px;
	font-size: 20px;
	line-height: 24px;
}
.legalsection:first-child .legaltext{
	max-width: 461px;
	margin-top: 50px;
	font-size: 16px;
	line-height: 20px;
}
.legalhighlited{
	color: #18338B;
}
.bold{
	font-weight:bold;
}
.legalsection a{
	color: #18338B;
}