extends layouts/index

block head
  title Centurion Network
  meta(content="Centurion Network Page" name="description")

block header
  include common/header

block content
  .singlogin
    .wrapper
      .membergrid
        .membergridcol
          .membergridcolinner
            .membercolname Join The Network
            a.busbtn.busbtn-wight(href='https://network.centuriongm.com/', target='_blank') Sign Up
        .membergridcol
          .membergridcolinner
            .membercolname Already a Member?
            a.busbtn.busbtn-wight(href='https://network.centuriongm.com/', target='_blank') Log In

  .the_networktext1
    .wrapper
      .gridsection1
        .gridcol1
          .gridcoltext
            h2
              | The Network by
              br
              | Centurion
            p
              strong
                | Building a connected, empowering and lasting financial
                | future together.
            p
              | Beyond being like-minded individuals, we are a community
              | working towards the shared vision of an alternative financial
              | future. Together, we appreciate and embrace the endless
              | possibilities borne out of a fully cashless economy.
        .gridcol2
    .imgmobile
      img(loading="lazy", src='img/network/network-centurion-mob.png' alt='network centurion')

  .the_networktext2
    .wrapper
      .gridsection1
        .gridcol1
          .gridcoltext
            h2.titlesection About The Network
            p
              | Championing a Thriving Cashless Economy
              br
              | As the world witnesses the
              | emergence of an alternative digital economy, going cashless has
              | become the next step in the evolution of global finance and money.
              | The Network by Centurion is a community that fully supports this
              | evolution.
            p
              | We support the development of a framework that allows a digital
              | economy, to not only flourish and grow, but also provide people
              | with the necessary tools so they can achieve financial freedom. It
              | is our mission to build a network of forward-thinking cashless
              | advocates worldwide.
        .gridcol2
    .imgmobile
      img(loading="lazy", src='img/network/about-the-network-mob.png' alt='about the network')

  .advantagescenturion
    .wrapper
      .ourbusinesmaintext
        h2.titlesection Advantages of The Network by Centurion
      .businesgrid
        .busineitem
          .busineitemimg
            .specmaincover
              .speccover
                img(loading="lazy", src='img/network/wealth.png' alt='wealth')
          .busineitemname Wealth
          .busineitemtext
            | The greater the inclusion, the greater the success. The Network
            | by Centurion presents opportunities for people to build a better
            | financial future and create generational wealth. Motivated by a
            | well-organised calendar of events and incentive programmes in
            | various corners of the globe, we empower the entire network
            | community with strategic marketing directions that will help
            | them achieve their financial goals.
        .busineitem
          .busineitemimg
            .specmaincover
              .speccover
                img(loading="lazy", src='img/network/knowledge.png' alt='knowledge')
          .busineitemname Knowledge
          .busineitemtext
            | The Network by Centurion plays an important part in spreading
            | the vision for a thriving cashless economy. We focus on
            | selected priority markets, nurturing each one to ensure that our
            | partners are equipped with the opportunity, information and
            | tools to be part of our digital cashless journey. Through
            | knowledge, we aim to enhance and empower more people to embrace
            | an alternative financial future.
        .busineitem
          .busineitemimg
            .specmaincover
              .speccover
                img(loading="lazy", src='img/network/growth.png' alt='growth')
          .busineitemname Growth
          .busineitemtext
            | The Network by Centurion is growing every day. When a given
            | country reaches a sufficient level of local members, the company
            | establishes support offices to keep sharing opportunities and
            | possibilities to partners. We continuously build new markets
            | to grow our Network community. As of late 2020, The Network has
            | more than 118,000 registered accounts from over 180 countries,
            | all across 6 continents of the world.

  .networkinvest
    .wrapper
      h2 Incentives
      .exploreprojectsgrid
        .projectcol
          .projectcolname Earning Opportunity
          p
            | The Compensation Plan offers eight different commissions.
            | Premiums and bonuses are paid for DSV Package (Digital Shopping
            | Voucher) purchases made by the community. Through a very modern
            | administration and invoicing programme, sales commissions are
            | recorded in real time and credited directly to partners&rsquo; various
            | accounts. Network partners enjoy the flexibility to decide on
            | how to use their DSV, from redeeming DUC, exchanging for premium
            | Ducatus Merchandise, innovative health products and more.
        .projectcol
          .projectcolname Education
          p
            | It is vital that partners are empowered with the skills and
            | tools to mould their own financial future and build generational
            | wealth. The Network Management team guides our partners to find
            | a healthy, economic, personal and future-oriented balance in the
            | digital world. Through knowledge, we aim to enhance and empower
            | more people. Training for introduction talks, company
            | presentations, business presentations, business plan trainings,
            | personality trainings, general training on cryptocurrency,
            | internal processes, information on all divisions of The Network.
        .projectcol
          .projectcolname Community
          p
            | The Network by Centurion remains inclusive in sharing the
            | benefits of financial empowerment to everyone, including those
            | in need. Through Ducatus Charity, partners can provide financial
            | support to chosen charity organisations. It is also open for
            | partners who wish to invite other partners to support causes
            | they champion and donate funds to aid the less fortunate. This
            | shared goodwill creates a bond that transcends monetary gains.

block footer
  include common/footer