mixin head-favicon
  script(type='text/javascript' nonce='cce7d730db974b41a25db37b75b' src='//local.adguard.org?ts=1612720052041&type=content-script&dmn=realfavicongenerator.net&app=com.google.Chrome.helper&css=1&js=1&gcss=1&rel=1&rji=1&sbe=0&stealth=1&uag=TW96aWxsYS81LjAgKE1hY2ludG9zaDsgSW50ZWwgTWFjIE9TIFggMTFfMl8wKSBBcHBsZVdlYktpdC81MzcuMzYgKEtIVE1MLCBsaWtlIEdlY2tvKSBDaHJvbWUvODguMC40MzI0LjE1MCBTYWZhcmkvNTM3LjM2&trref=aHR0cHM6Ly9yZWFsZmF2aWNvbmdlbmVyYXRvci5uZXQv')
  script(type='text/javascript' nonce='cce7d730db974b41a25db37b75b' src='//local.adguard.org?ts=1612720052041&name=AdGuard%20Popup%20Blocker&name=Web%20of%20Trust&name=AdGuard%20Assistant&name=AdGuard%20Extra&type=user-script')
  link(rel='apple-touch-icon' sizes='180x180' href='favicons/apple-touch-icon.png')
  link(rel='icon' type='image/png' sizes='32x32' href='favicons/favicon-32x32.png')
  link(rel='icon' type='image/png' sizes='16x16' href='favicons/favicon-16x16.png')
  link(rel='manifest' href='favicons/site.webmanifest')
  link(rel='mask-icon' href='favicons/safari-pinned-tab.svg' color='#5bbad5')
  meta(name='msapplication-TileColor' content='#da532c')
  meta(name='theme-color' content='#ffffff')